__pycache__
*.pyc
.idea
.DS_Store
*.egg-info
build
.venv
.vscode
.env

data
slurmlogs/
slurm_logs/
outputs/
tokenizer/
checkpoints/
wandb/

experiments/
diagnostics/
tmp/
temporary/

*.html
*.csv
*.png
!assets/*.png
*.svg
*.trace.pickle
*.ods#

*.pt
*.pth
*.bin
*.safetensors
*.parquet
*.log
*.pdf
